<!Doctype html>
<html>
    <style>
        .main_container{
            text-align: center;
            padding-top: 200px;
        }
    </style>

    <head >
        <title>Weather of your city </title>
        <div class="main_container">
        <h1>welcome to Weather Details page</h1>
        <h3>City: {{name}}</h3>
        <h3>Pressure : {{p}}</h3>
        <h3>Humidity : {{h}}</h3>
        <h3>Wind_speed : {{wind_speed}}</h3>
        
    </div>
    </head>   
    </body>
</html>
