<!Doctype html>
<html>
    <style>
        .main_container{
            text-align: center;
            padding-top: 200px;
        }
    </style>

    <head >
        <title>Sum of given numbers</title>
        <div class="main_container">
        <h1>welcome to End Api page</h1>
        <h3>sum of given values: {{a + b}}</h3>
    </div>
    </head>   
    </body>
</html>
